<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">

<head>

  {{#head}}
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="author" content="rxon">
    <meta name="copyright" content="Copyright(c)rxon. 2015 All Rights Reserved.">
    <meta name="description" content="{{description}}">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- <meta name="theme-color" content="#55bbff"> -->
    <meta property="og:description" content="{{description}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:url" content="{{{url}}}">
    <meta property="og:image" content="{{{fbimg}}}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ja_JP">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{{{twimg}}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{{twaccount}}}">
    <link href="{{{icon}}}" rel="shortcut icon">
    <link href="{{{icon}}}" rel="image_src">
    <link href="{{{icon}}}" rel="icon" type="image/png">
    <link href="{{{icon}}}" rel="apple-touch-icon">
    <style>
      body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Avenir Next', sans-serif;
        line-height: 2;
        overflow-x: hidden;
        max-width: 40em;
        margin: 2em auto;
        padding: 1em;
        letter-spacing: .04rem;
        font-kerning: normal;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
      }

      h2 {
        margin-top: 3em;
      }

      pre {
        font-size: .9em;
        line-height: 1.6em;
        overflow-x: auto;
        width: calc(100% - 2em);
        padding: 1em;
        white-space: pre;
        border-radius: 1em;
        background-color: #f7f7f7;
      }

      code {
        font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        letter-spacing: 0;
      }

      blockquote {
        margin-left: 0;
        padding: 0 1em;
        color: #777;
        border-left: .5em solid #ddd;
      }

      img {
        width: 100%;
      }

      header,
      footer,
      .postlist {
        text-align: center;
      }

      footer {
        font-size: 0.9em;
        margin-top: 5em;
      }

      address ul,
      .postlist ul {
        padding: 0;
      }

      .postlist ul li,
      address ul li {
        list-style: none;
      }

      address ul li {
        display: inline-block;
      }
    </style>
    <style>.hljs{display:block;background:white;padding:0.5em;color:#333333;overflow-x:auto}.hljs-comment,.hljs-meta{color:#969896}.hljs-string,.hljs-variable,.hljs-template-variable,.hljs-strong,.hljs-emphasis,.hljs-quote{color:#df5000}.hljs-keyword,.hljs-selector-tag,.hljs-type{color:#a71d5d}.hljs-literal,.hljs-symbol,.hljs-bullet,.hljs-attribute{color:#0086b3}.hljs-section,.hljs-name{color:#63a35c}.hljs-tag{color:#333333}.hljs-title,.hljs-attr,.hljs-selector-id,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo{color:#795da3}.hljs-addition{color:#55a532;background-color:#eaffea}.hljs-deletion{color:#bd2c00;background-color:#ffecec}.hljs-link{text-decoration:underline}</style>
    <link rel="manifest" href="js/manifest.json">
    <script src="js/main.js" defer></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65643430-6', 'auto');
      ga('send', 'pageview');
    </script>
  {{/head}}
</head>

<body>
  <header>
    <nav>
      <h1>
        <a href="/">note</a><span>/{{#post}}{{url}}{{/post}}</span>
      </h1>
    </nav>
    <p>rxon's miniminimal tech blog</p>
  </header>

  {{#post}}
    <article>
      {{{contents}}}
    </article>
    <a href="https://twitter.com/intent/tweet?text={{title}}&via=rxon_&url=https://rxon.now.sh/{{url}}">Share on Twitter</a>
  {{/post}}

  {{#index}}
    <nav class="postlist">
      <ul>
        {{#list}}
          <li>
            <a href="{{{url}}}">{{title}}</a>
          </li>
        {{/list}}
      </ul>
    </nav>
  {{/index}}

  <footer>
    <aside>
      <p>読む人と書く人に最高のUXを与えるためのfront-endだけでなくback-end、開発環境ともに超絶ミニマムな技術ブログです。<a href="https://github.com/rxon/note-2017">rxon/note-2017</a>でソースコードを公開しています。</p>
    </aside>
    <address>
      <p>Created and written by rxon</p>
      <ul>
        <li><a href="https://rxon.github.io/">Website</a></li><span> /</span>
        <li><a href="https://github.com/rxon">GitHub</a></li><span> /</span>
        <li><a href="https://twitter.com/rxon_">Twitter</a></li><span> /</span>
        <li><a href="http://b.hatena.ne.jp/rxon/">Hatebu</a></li><span> /</span>
        <li><a href="https://annict.com/@rxon">Annict</a></li>
      </ul>
    </address>
  </footer>
</body>

</html>
