<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">

<head>

  {{#head}}
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="author" content="rxon">
    <meta name="copyright" content="Copyright(c)rxon. 2015 All Rights Reserved.">
    <meta name="description" content="{{description}}">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- <meta name="theme-color" content="#55bbff"> -->
    <meta property="og:description" content="{{description}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:url" content="{{{url}}}">
    <meta property="og:image" content="{{{fbimg}}}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ja_JP">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{{{twimg}}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{{twaccount}}}">
    <link href="{{{icon}}}" rel="shortcut icon">
    <link href="{{{icon}}}" rel="image_src">
    <link href="{{{icon}}}" rel="icon" type="image/png">
    <link href="{{{icon}}}" rel="apple-touch-icon">
    <style>
      body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
        line-height: 2;
        overflow-x: hidden;
        max-width: 40em;
        margin: 2em auto;
        padding: 1em;
        letter-spacing: .04rem;
        font-kerning: normal;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
      }

      pre {
        font-size: .9em;
        line-height: 1.6em;
        overflow-x: auto;
        width: 100%;
        padding: 1em;
        white-space: pre;
        border-radius: 1em;
        background-color: #f7f7f7;
      }

      code {
        font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        letter-spacing: 0;
      }

      blockquote {
        margin-left: 0;
        padding: 0 1em;
        color: #777;
        border-left: .5em solid #ddd;
      }

      header,
      footer,
      .postlist {
        text-align: center;
      }

      footer {
        font-size: 0.9em;
        margin-top: 5em;
      }

      address ul,
      .postlist ul {
        padding: 0;
      }

      .postlist ul li,
      address ul li {
        list-style: none;
      }

      address ul li {
        display: inline-block;
      }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/github-gist.min.css">
    <link rel="manifest" href="js/manifest.json">
    <script src="js/main.js" defer></script>
  {{/head}}
</head>

<body>
  <header>
    <nav>
      <h1>
        <a href="/">note</a><span>/{{#post}}{{url}}{{/post}}</span>
      </h1>
    </nav>
    <p>rxon's miniminimal tech blog</p>
  </header>

  {{#post}}
    <article>
      {{{contents}}}
    </article>
  {{/post}}

  {{#index}}
    <nav class="postlist">
      <ul>
        {{#list}}
          <li>
            <a href="{{{url}}}">{{title}}</a>
          </li>
        {{/list}}
      </ul>
    </nav>
  {{/index}}

  <footer>
    <aside>
      <p>読む人と書く人に最高のUXを与えるためのfront-endだけでなくback-end、開発環境ともに超絶ミニマムな技術ブログです。<a href="https://github.com/rxon/note-2017">rxon/note-2017</a>でソースコードを公開しています。<span id="pushEnable"><a href="#pushEnable" id="pushEnableLink">Push通知を許可</a>すると、新着記事が受け取れます。</span></p>
    </aside>
    <address>
      <p>Created and written by rxon</p>
      <ul>
        <li><a href="">Website</a></li><span> /</span>
        <li><a href="">GitHub</a></li><span> /</span>
        <li><a href="">Twitter</a></li><span> /</span>
        <li><a href="">Hatebu</a></li><span> /</span>
        <li><a href="">Annict</a></li>
      </ul>
    </address>
  </footer>
</body>

</html>
