<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">

<head>

  {{#head}}
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="author" content="rxon">
    <meta name="copyright" content="Copyright(c)rxon. 2015 All Rights Reserved.">
    <meta name="description" content="{{description}}">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- <meta name="theme-color" content="#55bbff"> -->
    <meta property="og:description" content="{{description}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:url" content="{{url}}">
    <meta property="og:image" content="{{fbimg}}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ja_JP">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{{twimg}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{twaccount}}">
    <link href="icon" rel="shortcut icon">
    <link href="icon" rel="image_src">
    <link href="icon" rel="icon" type="image/png">
    <link href="icon" rel="apple-touch-icon">
    <link rel="stylesheet" href="./css/style.css">
  {{/head}}
</head>

<body>
  {{#post}}
    {{{contents}}}
  {{/post}}

  {{#postList}}
    <ul>
      <li>
        <a href="{{{url}}}">{{title}}</a>
      </li>
    </ul>
  {{/postList}}
</body>

</html>
